/*################### -------------------COLORS--------------------####################*/

$Primary-blue: #23A6F0;
$Primary-gray: #737373;


$text-color: #252B42;
$danger-text-color: #E74040;
$background-gray: #FAFAFA;