
.trial-call-to-action
{
    gap: 32px;
    margin: 80px auto;
    @include flex-positionning(center, center, wrap, column);

    > *
    {
        text-align: center;
    }

    .social-real-icons
    {
        gap: 32px;
        @include flex-positionning();
    }
}

@media screen and  (max-width: 600px){
    .trial-call-to-action
    {
        gap: 32px;
    }
}