@import "../base/normalise";
@import "../base/typography";
@import "../abstracts/mixins";
@import "../abstracts/variables";


/*
// General styles of the header
*/

header
{
    max-width: 1050px;
    margin: 12px auto;
    @include flex-positionning(space-between);

    .headerUtils
    {
        @include flex-positionning(space-between);
    }

    .headerNavbar
    {
        gap: 1rem;
        @include flex-positionning();
    }
}


.headerUtils
{

    .responsiveIcons
    {
        gap: 32px;
        opacity: 0;
        @include flex-positionning();
    }
}

/*
// Media styles for responsive
*/


@media screen and (max-width: 600px) {

    /*
    // Reseting some styles
    */
    .signUpButtons button
    {
        display: none;
    }

    header .headerNavbar
    {
        display: none;
    }


    /*
    // General styles for responsive
    */
    header
    {

        .headerUtils
        {
            width: 100%;
            padding: 0 24px;
    
            .responsiveIcons
            {
                opacity: 1;
            }
        }
        
        .headerNavbar
        {
            gap: 0;
            margin: 0;
            width: 100%;
        }

    }
    
    /*
    // Utilities
    */

    .menu-appear
    {
        display: block!important;
    }


    .headerNavbar
    {

        a
        {
            width: 100%;
            height: 64px;
            display: block;
            color: $text-color;
            background-color: $background-gray;
            @include flex-positionning();
        }

    }
}