

.heroHeader
{
    margin: 64px auto;
    max-width: 1050px;
    @include flex-positionning(space-between, center);


    .heroHeaderContent
    {
        gap: 32px;
        @include flex-positionning(center, left, wrap, column);
    }

    picture
    {
        max-width: 616px;
        max-height: 646px;
    }

    .social-real-icons
    {
        gap: 24px;
        @include flex-positionning(left);
    }
}

.heroHeaderContent
{
    > *
    {  
        margin: 0;
        word-wrap: break-word;
    }

    .heroHeaderDescription
    {
        max-width: 24rem;
    }
}

.heroHeaderContacts
{
    > *
    {
        margin: 0;
        @include paragraphBaseProperties($text-color, 24px, 700, 40px, 0.20);
    }
}


.heroHeader picture
{

    img
    {
        max-width: 100%;
    }
}


@media screen and (max-width: 600px) {

    .heroHeaderContent
    {    
        gap: 16px;
        width: 100%;
        @include flex-positionning(center, center, wrap, column);
    }
    
}