@import "../base/typography";
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../components/pricingCard";




.partners
{
    gap: 24px;
    margin: 0 auto;
    padding: 80px 0;
    background-color: $background-gray;
    @include flex-positionning(space-between, center, wrap, column);

}

.partnerSectionHeader
{
    *
    {
        margin: 0;
        padding: 16px;
        text-align: center;
    }

    .partnerSectionDescription
    {
        max-width: 560px;
    }

    .partnersSectionTitle
    {
       /* text-align: center;
        @include paragraphBaseProperties($text-color, 40px, 700, 80px, 0.20);*/
    }

}

.companiesLogos
{
    gap: 64px;
    // margin: 12px auto;
    // @include border;
    @include flex-positionning();
}
