

.companyTeamMembers
{
    gap: 112px;
    padding: 112px 0;
    margin: 0 auto;
    max-width: 1050px;
    @include flex-positionning(space-between, center, wrap, column);

    .companyMembers
    {
        gap: 30px;
        @include flex-positionning(center, center);
    }

}

.companyTeamHeader
{
    *
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.companyMembers
{
    width: 100%;

    .member
    {
        @include flex-positionning(space-between, center, wrap, column);
    }

    .socialIcons
    {
        gap: 20px;
        @include flex-positionning(space-between);
    }
}

.memberInformations
{
    
    @include flex-positionning(space-between, center, wrap, column);
    .memberUsername
    {
        font-weight: 700;
    }
}

