@import "../utils/variables";

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0 0;
    color: $text-color;
    font-family: "Montserrat", "sans-serif";
}


a
{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

a:link
{
    color: $Primary-gray;
}

a:visited
{
    color: $Primary-gray;
}

a:focus
{
    color: $Primary-gray;
}

a:hover
{
    color: $Primary-blue;
}

a:active
{
    color: $Primary-gray;
}