
/// This is the main page of the HTML page index

@import '../main.scss';


.additionnalInfos
{
    gap: 64px;
    // @include border(red);
    margin: 12px auto;
    max-width: max-content;
    @include flex-positionning(space-between);

    /// To prevent overflowing of the right part of the 
    /// additionnal information section

    .rightSectionInformations
    {
        max-width: 560px;
    }

}


.leftSectionInformations
{
    *
    {
        font-weight: 600;
        word-wrap: break-word;
    }
    
    .redDescriptiveInformationsTitle
    {
        color: $danger-text-color;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20px;
    }

    .redDescriptiveInformations
    {
        max-width: 400px;
        
        font-size: 24px;
        color: $text-color;
        font-weight: 700;
    }

}

.recordInformations
{
    gap: 32px;
    max-width: 1050px;
    padding: 80px 0;
    margin: 12px auto;
    @include flex-positionning();
}

.recordContent
{
    width: 192px;

    *
    {
        margin: 0;
        text-align: center;
        word-wrap: break-word;
    }

    .record
    {
        @include paragraphBaseProperties($text-color, 58px, 700, 80px, 0.20);
    }

}

.presentationVideo
{
    margin: 12px auto;
    max-width: 1050px;
    // @include border;

    video
    {
        margin: auto;
        display: block;
        max-width: 94%;
        border-radius: 12px;
    }
}

/*

.companyTeamMembers
{
    gap: 112px;
    padding: 112px 0;
    margin: 12px auto;
    max-width: 1050px;
    @include flex-positionning(space-between, center, wrap, column);
    @include border;

    .companyMembers
    {
        gap: 30px;
        @include flex-positionning(center, center);
    }

}

.companyTeamHeader
{
    @include border;

    *
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .companyTeamTitle
    {
        // @include paragraphBaseProperties($text-color, 40px, 700, 80px, 0.20);
    }
}

.companyMembers
{
    width: 100%;
    @include border;

    .member
    {
         @include border;
        @include flex-positionning(space-between, center, wrap, column);
    }

    .socialIcons
    {
        gap: 20px;
        // @include border;
        @include flex-positionning(space-between);
    }
}

.memberInformations
{
    
    @include flex-positionning(space-between, center, wrap, column);
    .memberUsername
    {
        font-weight: 700;
    }
}

*/



.finalCallToAction
{
    @include flex-positionning(space-between);


    // max-width: max-content;
    margin: 0 auto;
    color: white;
    padding: 0 0 0 256px;
    background-color: $Primary-blue;
    // @include border;

}

.callToActionContent
{
    --bottom-spacing: 24px;

    > *
    {
        margin-bottom: var(--bottom-spacing);
    }

    .outlineCTA
    {
        @include paragraphBaseProperties(white, 16px, 700, 50px, 0.20);
    }

    .callToActionTitle
    {
        @include paragraphBaseProperties(white, 40px, 700, 50px, 0.10);
    }

    .callToActionContent
    {
        @include paragraphBaseProperties(white, 14px, 600, 20px, 0.20);
    }

    .ctaButton
    {
        @include mainButton(transparent, white);

        width: 136px;
        height: 48px;
        border-radius: 4px;
        border: 2px solid white;
    }
}



@media screen and (max-width: 600px) 
{

    /// Modify the disposition for the additionnal informations
    /// section
    .additionnalInfos
    {
        gap: 16px;
        padding: 24px;
        flex-direction: column;
    }

    /// Set the min-width of the companies images to allow them
    /// to grow and take one line by logo
    .companiesLogos
    {
        img
        {
            min-height: 80px;
        }
    }


    .finalCallToAction
    {
        padding: 12px;

        .callToActionContent
        {
            @include flex-positionning();
        }

        img
        {
            display: none;
        }
    }

    /*
    .redDescriptiveInformations, .redDescriptiveInformationsTitle
    {
        text-align: center;
    }
*/
    
}
