@import "../base/typography";
@import "../utils/mixins";
@import "../utils/variables";
@import "../layout/pricingCard";

.heroHeader
{
    margin: 12px auto;
    max-width: 1050px;
    @include flex-positionning(space-between);
    // @include border;

    img
    {
        max-width: 100%;
        @include border;
    }
}

.heroHeaderContent
{
    *
    {  
        word-wrap: break-word;
    }

    .outlineContent
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.10px;
    }

    h1
    {
        font-size: 58px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0.20px;
    }

    .heroHeaderDescription
    {
        font-size: 20px;
        color: $Primary-gray;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.20px;
    }
}

.additionnalInfos
{
    gap: 60px;
    // @include border;
    margin: 12px auto;
    max-width: max-content;
    @include flex-positionning(space-between);

    .leftSectionInformations
    { 
        color: #737373;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.20px;
        word-wrap: break-word;
    }

}


.rightSectionInformations
{
    *
    {
        font-weight: 600;
        word-wrap: break-word;
    }
    
    .redDescriptiveInformationsTitle
    {
        color: $danger-text-color;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20px;
    }

    .redDescriptiveInformations
    {
        color: $text-color;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.10px;
    }

}

.recordInformations
{
    gap: 32px;
    max-width: 1050px;
    padding: 80px 0;
    margin: 12px auto;
    @include flex-positionning();
    // @include border;
}

.recordContent
{
    width: 192px;
    // @include border;

    *
    {
        margin: 0;
        text-align: center;
        word-wrap: break-word;
        // @include border;
    }

    .record
    {
        @include paragraphBaseProperties($text-color, 58px, 700, 80px, 0.20);
    }

}

.presentationVideo
{
    margin: 12px auto;
    max-width: 1050px;
    @include border;

    video
    {
        margin: auto;
        display: block;
        max-width: 94%;
        border-radius: 12px;
    }
}
.companyTeamMembers
{
    gap: 112px;
    padding: 112px 0;
    margin: 12px auto;
    max-width: 1050px;
    @include flex-positionning(space-between, center, wrap, column);
    @include border;

    .companyMembers
    {
        gap: 30px;
        @include flex-positionning(center, center);
    }

}

.companyTeamHeader
{
    @include border;

    *
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .companyTeamTitle
    {
        @include paragraphBaseProperties($text-color, 40px, 700, 80px, 0.20);
    }
}

.companyMembers
{
    width: 100%;
    @include border;

    .member
    {
         @include border;
        @include flex-positionning(space-between, center, wrap, column);
    }

    .socialIcons
    {
        gap: 20px;
        // @include border;
        @include flex-positionning(space-between);
    }
}

.memberInformations
{
    
    @include flex-positionning(space-between, center, wrap, column);
    .memberUsername
    {
        font-weight: 700;
    }
}

.finalCallToAction
{
    // max-width: max-content;
    margin: 12px auto;
    color: white;
    padding: 0 0 0 256px;
    background-color: $Primary-blue;
    @include flex-positionning(space-between);
    // @include border;

}

.callToActionContent
{
    .outlineCTA
    {
        @include paragraphBaseProperties(white, 16px, 700, 50px, 0.20);
    }

    .callToActionTitle
    {
        @include paragraphBaseProperties(white, 40px, 700, 50px, 0.20);
    }

    .callToActionContent
    {
        
        @include paragraphBaseProperties(white, 14px, 600, 20px, 0.20);
    }

    .ctaButton
    {
        @include mainButton(transparent, white);
        width: 136px;
        height: 48px;
        border-radius: 4px;
        border: 2px solid white;
    }
}



@media screen and (max-width: 700px) 
{

    .companiesLogos
    {

        img
        {
            min-height: 64px;
        }
    }
    
}