/// This is the main page of the HTML page pricing

@import '../main.scss';


/*
.pricingPresentation
{
    gap: 8px;
    padding: 0;
    margin: 12px;
    @include border;
    @include flex-positionning(center, center, wrap, column);

    > *
    {
        @include border;
        text-align: center;
    }

    .pricingOutline
    {*/
        /*
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $Primary-gray;
        letter-spacing: 0.10px;*/
 /*   }

    nav
    {
        gap: 12px;
        @include flex-positionning();
    }
}
*/

.pricingOffer
{
    margin: 12px;
    padding: 112px 195px;
    @include border(red);
    @include flex-positionning(center, center, wrap, column);

    > *
    {
        text-align: center;
    }

    .pricingOfferTopOptions
    {
        gap: 20px;
         @include flex-positionning(space-between)
    }

}


.FAQ
{
    gap: 32px;
    margin: 80px auto;
    max-width: max-content;
    @include border(green, 2px);
    @include flex-positionning(center, center, wrap, column);

    a
    {
        // text-align: center;
        @include border(red, 2px);
        // display: block;
    }
}

.faq-header
{
    @include border(red, 2px);

    > *
    {
        text-align: center;
    }
}

.questions-container
{
    gap: 30px;
    margin: auto;
    @include border(red, 2px);
    max-width: max-content;
    @include flex-positionning();
}


.q-and-answer-container
{
    gap: 16px;
    padding: 25px;
    @include border;
    @include flex-positionning(top, top);

    > *
    {
        @include border;
    }

    picture
    {
        padding-top: 24px;
    }
}


@media screen and (max-width: 600px) {

    
    .pricingOffer
    {
        padding: 12px;
    }

}