/// This is the main page of the HTML page pricing

@import '../main.scss';




.pricingOffer
{
    padding: 112px 195px;
    background-color: $background-gray;
    @include flex-positionning(center, center, wrap, column);

    > *
    {
        text-align: center;
    }

    .pricingOfferTopOptions
    {
        gap: 12px;
        @include flex-positionning(space-between)
    }

}

.pricingOfferTopOptions
{
    button
    {
        width: 5rem;
        height: 40px;
        position: relative;
        border-radius: 20px;
        background-color: white;
        border: 1px solid $Primary-blue;
    }

    button::before
    {
        top: 2px;
        left: 4px;
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        border-radius: 50%;
        background-color: #e2e1e1;
        border: 2px solid #D0D0D0;
    }

    span
    {
        width: 6rem;
        height: 40px;
        border-radius: 50px;
        @include flex-positionning();
        background-color: #B2E3FF;
    }
}




.FAQ
{
    gap: 32px;
    margin: 80px auto;
    max-width: max-content;
    @include flex-positionning(center, center, wrap, column);
}

.faq-header
{

    > *
    {
        text-align: center;
    }

    p
    {
        text-align: left;
    }
}

.questions-container
{
    gap: 30px;
    margin: auto;
    max-width: max-content;
    @include flex-positionning();
}


.q-and-answer-container
{
    gap: 16px;
    padding: 25px;
    @include flex-positionning(top, top);

    picture
    {
        padding-top: 24px;
    }
}


@media screen and (max-width: 900px) {

    
    .pricingOffer
    {
        padding: 12px;
    }

    .pricingOfferContainer
    {
        gap: 12px;
    }

    
    .q-and-answer-container
    {
        picture
        {
            display: none;
        }

    }

}